@page "/Report/{id}"

@if (_loading)
{
    <div class="spinner">
        <MudProgressCircular Indeterminate Color="Color.Primary" Style="height: 300px; width: 300px" />
        <br>
        <MudText Typo="Typo.h3" Align="Align.Center">Cargando...</MudText>
    </div>
}
else
{
    <MudText Typo="Typo.h3" Align="Align.Center">REPORTE PARA OREN DE COMPRA @Order.OrderNumber</MudText>

    <MudButton Variant="Variant.Filled" Color="Color.Info" Class="m-3"
            OnClick="Return">
        Regresar a órdenes de compra
    </MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Print" Class="m-3">
        Imprimir
    </MudButton>

    <div id="DocumentBody" style="position: absolute; height: 100%; width: 100%;">
        @for (int i = 0; i < NumberOfPages; i++)
        {
            <div class="page" style="@($"top: calc(1in + 12in * {i})")">
                <div id="header">
                    <div style="position: absolute; left: 0px; top: 0px; width: 0.67in; height: 0.42in;">
                        <img src="../img/McLogo.PNG" alt="Logo" />
                    </div>
                    <div style="position: absolute; left: 134px; right: 134px; text-align: center;
                                line-height: 22px;">
                        <span style="color: rgb(0, 0, 128);">
                            <span style="font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 20px;">
                                MC ENGINEERING, S.A. DE C.V.
                            </span>
                            <br />
                            <span style="font-family: 'Times New Roman'; font-size: 11px;">
                                Av. Juan Pablo II  # 1371, Col. Postes Cuates, Guadalajara, Jalisco C.P. 44350 <br>
                                Teléfono (33) 3168 9947, Teléfono y Fax: 3331 1172 <br>
                            </span>
                            <span style="font-family: 'Times New Roman'; font-size: 16px;">
                                <b>RFC: ENG0605155LA</b>
                            </span>
                        </span>
                    </div>

                    <div style="position: absolute; right: 0px; top: 80px;">
                        <h6 style="font-family: 'Times New Roman'; font-size: 18px; color: rgb(0, 0, 128);">
                            ORDEN DE COMPRA No. @Order.OrderNumber
                        </h6>
                    </div>

                    <div style="position: absolute; left: 0px; right: 0px; top: 150px; height: 100px; border: solid; border-color: rgb(0, 0, 128);">
                        <div style="position: absolute; left: 10px; top: 0px">
                            FECHA DE SOLICITUD: @(Order.IssuedDate.HasValue ? Order.IssuedDate.Value.ToShortDateString() : "N/A")
                        </div>
                        <div style="position: absolute; right: 10px; top: 0px; ">
                            FECHA DE ENTREGA: @(Order.DeliveryDate.HasValue ? Order.DeliveryDate.Value.ToShortDateString() : "N/A")
                        </div>
                        <div style="position: absolute; left: 10px; top: 40px; bottom: 40px; ">
                            PROVEEDOR: @OrderProvider.LegalName
                        </div>
                        <div style="position: absolute; left: 10px; bottom: 0px; text-align: center ">
                            CONDICIONES: @OrderProvider.PaymentCondition
                        </div>
                        <div style="position: absolute; right: 10px; bottom: 0px; ">
                            MONEDA: @Order.Currency
                        </div>
                    </div>    
                </div>

                <div id="table" style="position: absolute; left: 15mm; right: 15mm; top: 90mm; bottom: 65.8mm;">
                    <table style="width: 100%;">
                        <colgroup>
                            <col style="width: 5%" />
                            <col style="width: 5%" />
                            <col style="width: 10%" />
                            <col style="width: 55%" />
                            <col style="width: 10%" />
                            <col style="width: 15%" />
                        </colgroup>
                        <thead>
                            <tr style="font-size: 16px; border-bottom: 2px solid rgb(0, 0, 128);">
                                <th>
                                    <h6 style="color: rgb(0, 0, 128);">No.</h6>
                                </th>
                                <th>
                                    <h6 style="color: rgb(0, 0, 128);">Cant.</h6>
                                </th>
                                <th>
                                    <h6 style="color: rgb(0, 0, 128);">Unidad</h6>
                                </th>
                                <th>
                                    <h6 style="color: rgb(0, 0, 128);">Descripción</h6>
                                </th>
                                <th>
                                    <h6 style="color: rgb(0, 0, 128);">Precio</h6>
                                </th>
                                <th>
                                    <h6 style="color: rgb(0, 0, 128);">Total</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < ArticlesPerPage[i]; j++)
                            {
                                <tr style="height: 35px; padding: 5px; font: normal 12px arial; overflow-wrap: wrap;">
                                    <td>
                                        @MaterialNumbers[j + 10 * i]
                                    </td>
                                    <td>
                                        @OrderArticles[j + 10 * i].Quantity
                                    </td>
                                    <td>
                                        @OrderArticles[j + 10 * i].Unit
                                    </td>
                                    <td>
                                        @ArticlesInfo[j + 10 * i].Description
                                    </td>
                                    <td>
                                        @($"${OrderArticles[j + 10 * i].SalePrice.ToString("n4")}")
                                    </td>
                                    <td>
                                        @($"${(OrderArticles[j + 10 * i].SalePrice * OrderArticles[j + 10 * i].Quantity).ToString("n4")} {Order.Currency}")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div id="footer">
                    <div style="position: absolute; left: 0px; top: 0px; font-size: 10px; line-height: 12px;">
                        <div style="position: absolute; width: 100px; padding: 5px 0px 0px 5px; ">
                            PROY: @OrderProject.ProjectNumber
                        </div>
                        <div style="position: absolute; left: 100px; width: 75px; padding: 5px 0px 0px 5px; ">
                            @ProjectClient.MarketName
                        </div>
                        <div style="position: absolute; left: 200px; width: 200px; padding: 5px 0px 0px 5px; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow:hidden;">
                            @OrderProject.Description
                        </div>
                    </div>
                    <div style="position: absolute; left: 357px; right: 125px; top: 20%; bottom: 20%; text-align: right; vertical-align: central;">
                        <div>
                            <span style="color: rgb(0, 0, 128)">
                                Descuento: @Order.Discount%
                            </span>
                        </div>
                        <div>
                            <span style="color: rgb(0, 0, 128)">
                                Subtotal
                            </span>
                        </div>
                        <div>
                            <span style="color: rgb(0, 0, 128)">
                                I.V.A.
                            </span>
                        </div>
                        <div>
                            <span style="color: rgb(0, 0, 128)">
                                Total
                            </span>
                        </div>
                    </div>
                    <div style="position: absolute; left: 506px; right: 5px; top: 20%; bottom: 20%; text-align: right; vertical-align: central;">
                        <div>
                            <span style="color: black">
                                $@Discount.ToString("n2") @Order.Currency
                            </span>
                        </div>
                        <div>
                            <span style="color: black">
                                $@Subtotal.ToString("n4") @Order.Currency
                            </span>
                        </div>
                        <div>
                            <span style="color: black">
                                $@Tax.ToString("n4") @Order.Currency
                            </span>
                        </div>
                        <div>
                            <span style="color: black">
                                $@Total.ToString("n4") @Order.Currency
                            </span>
                        </div>
                    </div>
                    <div style="position: absolute; left: 1.18%; right: 50%; top: 30%; bottom: 6.25%;">
                        <div style="position: absolute; left: 20%; right: 20%; text-align: center">
                            <span style="font-size: 15px; color: rgb(0, 0, 128);">
                                AUTORIZA
                            </span>
                        </div>
                        <div style="position: absolute; top: 60%; bottom: 0%; left: 0%; right: 55%; text-align: center; vertical-align: text-top; border-top-width: 1px; border-top: solid; border-top-color: rgb(0, 0, 128);">
                            <span style="font-size: 10px; line-size: 0.5;">
                                Compras <br>
                                @UserFullName
                            </span>
                        </div>
                        <div style="position: absolute; top: 60%; bottom: 0%; left: 55%; right: 0%; text-align: center; vertical-align: text-top; border-top-width: 1px; border-top: solid; border-top-color: rgb(0, 0, 128);">
                            <span style="font-size: 10px; line-size: 0.5;">
                                Dirección <br />
                                Ing. Mario González Cervantes
                            </span>
                        </div>
                    </div>
                    <div style="position: absolute; bottom: 1%; right: 1%">
                        <span style="color: #aaaaaa; font-size: 11px;">
                            Página: @(i + 1) de @NumberOfPages
                        </span>
                    </div>
                </div>
                <div class="html2pdf__page-break" />
            </div>
        }
    </div>
}

<style type="text/css">
    .wrapper {
        width: 10in;
        height: 100%;
        border: solid;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .page {
        position: absolute;
        height: 11in;
        width: 8.5in;
        bottom: 1in;
        right: 0.75in; left: 0.75in;
        margin: 10px;
        background-color: #fcfcfc;
        border: 2px solid black;
    }

    #header {
        position: absolute;
        left: 10mm;
        right: 10mm;
        top: 15mm;
    }

    #footer {
        position: absolute;
        left: 10mm;
        right: 10mm;
        bottom: 15mm;
        height: 1.8in;
        border: solid rgb(0, 0, 128);
    }

    .spinner {
        display: flex;
        align-items: center;
        justify-items: center;
    }
</style>