@inject IFamiliesService _familiesService
@inject IQuotesService _quotesService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@TitleIcon" /> @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_processing)
        {
            <MudProgressCircular Class="m-sm-n1" Size="Size.Large" Indeterminate="true" />
            <MudText Class="m-sm-2">Esperando respuesta de servidor...</MudText>
        }
        else
        {
            <MudContainer Style="max-height: 500px; overflow-y: scroll;">
                @if (States.Delete == (States)State)
                {
                    <div class="form-group">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">
                            ¿Está seguro de eliminar artículo seleccionado?
                        </MudText>
                    </div>
                }
                <MudForm Model="Model" @ref="Form">
                    <div class="form-group">
                        <MudTextField T="string" Label="Nombre" Required="true"
                                      RequiredError="Insertar nombre"
                                      @bind-Value="Model.Name" 
                                      ReadOnly="@Disabled"/>
                    </div>
                    <div class="form-group">
                        <MudTextField T="string" 
                                      Label="@($"Código: {GroupCode}-{FamilyCode}-****")" 
                                      Required="true"
                                      RequiredError="Insertar código" 
                                      Validation="(new Func<string, IEnumerable<string>>(ValidateCode))"
                                      @bind-Value="Model.Code" 
                                      ReadOnly="@Disabled"/>
                    </div>
                    <div class="form-group">
                        <MudTextField T="string" Label="Descripción" Required="true"
                                      RequiredError="Insertar descripción"
                                      @bind-Value="Model.Description" 
                                      ReadOnly="@Disabled"/>
                    </div>
                    <div class="form-group">
                        <MudTextField T="string" Label="Modelo" Required="false"
                                      @bind-Value="Model.Model" 
                                      ReadOnly="@Disabled"/>
                    </div>
                    <div class="form-group">
                        <MudTextField T="string" Label="Marca" Required="false"
                                      @bind-Value="Model.TradeMark" 
                                      ReadOnly="@Disabled"/>
                    </div>
                    <div class="form-group">
                        <MudTextField T="string" Label="Unidad" Required="true"
                                      RequiredError="Insertar unidad"
                                      @bind-Value="Model.Unit" 
                                      ReadOnly="@Disabled"/>
                    </div>
                </MudForm>
            </MudContainer>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Class="mx-1"
                   OnClick="() => Dialog.Cancel()" Disabled="_processing">
            Cerrar
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="@ButtonColor" Class="mx-1"
                   OnClick="async () => await Submit()" Disabled="_processing">
            Confirmar
        </MudButton>
    </DialogActions>
</MudDialog>