@inject IArticlesToPurchaseService _articlesService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@TitleIcon" /> @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_processing)
        {
            <MudProgressCircular Class="m-sm-n1" Size="Size.Large" Indeterminate="true" />
            <MudText Class="m-sm-2">Esperando respuesta de servidor...</MudText>
        }
        else
        {
    <MudContainer Style="max-height: 500px; overflow-y: scroll;">
        @if (States.Delete == (States)State)
        {
            <div class="form-group">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    ¿Está seguro de eliminar artículo seleccionado de órden?
                </MudText>
            </div>
        }
    <MudForm @ref="Form" Model="Model">
        <MudGrid>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle1">No. Orden de compra</MudText>
                <MudTextField Value="Reference.Id" ReadOnly />
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle1">Proyecto de orden de comra</MudText>
                <MudTextField Value="Reference.ProjectId" ReadOnly />
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle1">Número de requisición</MudText>
                <MudTextField Value="Reference.Requisition.RequisitionNumber" ReadOnly />
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle1">Proveedor</MudText>
                <MudTextField Value="Reference.Provider.LegalName" ReadOnly />
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle1">Nombre de artículo</MudText>
                <MudTextField Value="Model.Quote.Article.Name" ReadOnly />
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle1">Código de artículo</MudText>
                <MudTextField Value="Model.Quote.Article.Code" ReadOnly />
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle1">Precio unitario</MudText>
                <MudNumericField @bind-Value="Model.SalePrice" Required RequiredError="Inserte precio unitario"
                                 T="double" Min="0" Adornment="Adornment.Start" AdornmentText="$" Step="1"
                                 Format="N2" ReadOnly="@Disabled" />
            </MudItem>
            <MudItem xs="6">
                <MudText Typo="Typo.subtitle1">Cantidad</MudText>
                <MudNumericField @bind-Value="Model.Quantity" Required RequiredError="Inserte cantidad"
                                 T="int" Min="1" Adornment="Adornment.End" AdornmentText="@Model.Quote.Article.Unit"
                                 Step="1" ReadOnly="@Disabled" />
            </MudItem>
        </MudGrid>
    </MudForm>
    </MudContainer>
        }
    </DialogContent>   
    <DialogActions>
        <MudButton Variant="Variant.Text" Class="mx-1"
                   OnClick="() => Dialog.Cancel()" Disabled="_processing">
            Cerrar
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="@ButtonColor" Class="mx-1"
                   OnClick="async () => await Submit()" Disabled="_processing">
            Confirmar
        </MudButton>
    </DialogActions>
</MudDialog> 