@inject IProjectsService _projectsService
@inject IProjectProductsService _productsService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@TitleIcon" /> @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_processing)
        {
            <MudProgressCircular Class="m-sm-n1" Size="Size.Large" Indeterminate="true" />
            <MudText Class="m-sm-2">Esperando respuesta de servidor...</MudText>
        }
        else
        {
            <MudContainer Style="max-height: 500px; overflow-y: scroll;">
                @if (States.Delete == (States)State)
                {
                    <div class="form-group">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">
                            ¿Está seguro de eliminar producto del proyecto seleccionado?
                        </MudText>
                    </div>
                }
                <MudForm Model="Model" @ref="Form">
                    @if ((int)States.Add == State)
                    {
                        <div class="form-group">
                            @if (SearchForCode)
                             {
                                <MudAutocomplete T="int" @bind-Value="Model.ProductId" Label="Producto"
                                                 SearchFunc="(f) => ProductsServerReload(f, SearchForCode)"
                                                 ToStringFunc="new Func<int, string>(GetProductCode)"
                                                 Required="true" RequiredError="Seleccione un producto"
                                                 Variant="Variant.Outlined"/>
                             }
                             else
                             {
                                <MudAutocomplete T="int" @bind-Value="Model.ProductId" Label="Producto"
                                                 SearchFunc="(f) => ProductsServerReload(f, SearchForCode)"
                                                 ToStringFunc="new Func<int, string>(GetProductDescription)"
                                                 Required="true" RequiredError="Seleccione un producto"
                                                 Variant="Variant.Outlined"/>
                             }
                        </div>
                        <div class="form-group">
                            <MudSwitch @bind-Checked="SearchForCode">
                                @($"Buscar por: {(SearchForCode ? "Código" : "Descripción")}")
                            </MudSwitch>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <MudText Typo="Typo.subtitle1">
                                Código de producto: @Model.Product.Code
                            </MudText>
                        </div>
                        <div class="form-group">
                            <MudTextField T="string" Text="@Model.Product.Description" Label="Descripción"
                                          Lines="5" ReadOnly Required="false" Variant="Variant.Outlined"/>
                        </div>
                    }
                    <div class="form-group">
                        <MudNumericField T="int" @bind-Value="Model.Quantity" Label="Cantidad"
                                         Min="1" Step="1" Required="true" ReadOnly="@Disabled"
                                         RequiredError="Inserte cantidad" Variant="Variant.Outlined"/>
                    </div>
                    <div class="form-group">
                        <MudNumericField T="float" @bind-Value="Model.SalePrice" Label="Precio de venta"
                                         Min="0.0f" HideSpinButtons="true" Adornment="Adornment.Start"
                                         AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                         Required="true" ReadOnly="@Disabled" Variant="Variant.Outlined"
                                         RequiredError="Inserte precio de venta"/>
                    </div>
                    <div class="form-group">
                        <MudTextField T="string" @bind-Value="Model.Observations" Label="Observaciones"
                                      Required="false" ReadOnly="@Disabled" Lines="5" Variant="Variant.Outlined"/>
                    </div>
                </MudForm>
            </MudContainer>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Class="mx-1"
                   OnClick="() => Dialog.Cancel()" Disabled="_processing">
            Cerrar
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="@ButtonColor" Class="mx-1"
                   OnClick="async () => await Submit()" Disabled="_processing">
            Confirmar
        </MudButton>
    </DialogActions>
</MudDialog>