@inject IClientsService _clientsService
@inject IContactsService _contactsService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@TitleIcon" /> @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_processing)
        {
            <MudProgressCircular Class="m-sm-n1" Size="Size.Large" Indeterminate />
            <MudText Class="m-sm-2">Esperando respuesta de servidor...</MudText>
        }
        else
        {
    <MudContainer Style="max-height: 500px; overflow-y: scroll;">
        @if(States.Delete == (States)State)
         {
            <div class="form-group">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    ¿Está seguro de eliminar cliente seleccionado?
                </MudText>
            </div>
         }
        <MudForm Model="Model" @ref="Form">
            <MudGrid>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Nombre comercial de cliente</MudText>
                    <MudTextField T="string" Placeholder="Nombre comercial de cliente" Required RequiredError="Este campo es obligatorio" 
                                  @bind-Value="Model.MarketName" ReadOnly="@Disabled" Variant="Variant.Outlined" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.MarketName)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.MarketName))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Razón social de cliente</MudText>
                    <MudTextField T="string" Placeholder="Razón social de cliente" Required RequiredError="Este campo es obligatorio"
                                  @bind-Value="Model.LegalName" ReadOnly="@Disabled" Variant="Variant.Outlined" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.LegalName)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.LegalName))"/>
                </MudItem>
                <MudItem xs="12">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">RFC</MudText>
                    <MudTextField T="string" Placeholder="RCF" @bind-Value="Model.RFC" ReadOnly="@Disabled" Variant="Variant.Outlined"
                    Immediate Counter="Model.GetMaxLengthForProperty(nameof(Model.RFC))"
                    MaxLength="@(Model.GetMaxLengthForProperty(nameof(Model.RFC)) ?? 5000)" />
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Sitio web de cliente</MudText>
                    <MudTextField T="string" Placeholder="Sitio web de cliente" @bind-Value="Model.Website" 
                                  ReadOnly="@Disabled" Variant="Variant.Outlined" Immediate InputType="InputType.Url"
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.Website)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.Website))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Número telefónico de cliente</MudText>
                    <MudTextField T="string" Placeholder="Número telefónico de cliente" Required RequiredError="Este campo es obligatorio"
                                  Validation="@(new Func<string, IEnumerable<string>>(Validations.ValidatePhoneNumber))" InputType="InputType.Telephone"
                                  @bind-Value="Model.PhoneNumber" ReadOnly="@Disabled" Variant="Variant.Outlined" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.PhoneNumber)) ?? 5000)" Mask="@(new PatternMask("00-0000-0000"))"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.PhoneNumber))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Domicilio fiscal de cliente</MudText>
                    <MudTextField T="string" Placeholder="Domicilio fiscal de cliente" Required RequiredError="Este campo es obligatorio"
                                  @bind-Value="Model.FiscalAddress" ReadOnly="@Disabled" Variant="Variant.Outlined" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.FiscalAddress)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.FiscalAddress))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Código postal</MudText>
                    <MudTextField T="string" Placeholder="Código postal" Required RequiredError="Este campo es obligatorio"
                                  @bind-Value="Model.PostalCode" ReadOnly="@Disabled" Variant="Variant.Outlined" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.PostalCode)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.PostalCode))"/>
                </MudItem>
                <MudItem xs="4">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Ciudad</MudText>
                    <MudTextField T="string" Placeholder="Ciudad" Required RequiredError="Este campo es obligatorio"
                                  Validation="@(new Func<string, IEnumerable<string>>(ValidateName))" Variant="Variant.Outlined"
                                  @bind-Value="Model.City" ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.City)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.City))"/>
                </MudItem>
                <MudItem xs="4">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Provincia/Estado</MudText>
                    <MudTextField T="string" Placeholder="Provincia/Estado" Required RequiredError="Este campo es obligatorio"
                                  Validation="@(new Func<string, IEnumerable<string>>(ValidateName))" Variant="Variant.Outlined"
                                  @bind-Value="Model.Province" ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.Province)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.Province))"/>
                </MudItem>
                <MudItem xs="4">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">País</MudText>
                    <MudTextField T="string" Placeholder="País" Required RequiredError="Este campo es obligatorio"
                                  Validation="@(new Func<string, IEnumerable<string>>(ValidateName))" Variant="Variant.Outlined"
                                  @bind-Value="Model.Country" ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.Country)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.Country))" />
                </MudItem>
                <MudItem xs="12">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">Condición de pago</MudText>
                    <MudTextField T="string" Placeholder="Condición de pago" Required RequiredError="Este campo es obligatorio"
                                  @bind-Value="Model.PaymentCondition" ReadOnly="@Disabled" Variant="Variant.Outlined" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Clients.PaymentCondition)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Clients.PaymentCondition))"/>
                </MudItem>
            </MudGrid>
        </MudForm>
        @if (States.Delete == State)
        {
            <div class="form-group">
                <MudTable Items="ClientContacts" Dense Striped>
                    <ToolBarContent>
                        <MudText Typo="Typo.subtitle1">
                            Contactos asociados
                        </MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Nombre</MudTh>
                        <MudTh>Correo</MudTh>
                        <MudTh>Puesto</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Nombre">@context.FullName</MudTd>
                        <MudTd DataLabel="Correo">@context.EmailAddress</MudTd>
                        <MudTd DataLabel="Puesto">@context.Position</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                    <NoRecordsContent>
                        No se encontraron contactos asociados.
                    </NoRecordsContent>
                </MudTable>
            </div>
        }
    </MudContainer>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Class="mx-1"
                   OnClick="() => Dialog.Cancel()" Disabled="_processing">
            Cerrar
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="@ButtonColor" Class="mx-1"
                   OnClick="async () => await Submit()" Disabled="_processing">
            Confirmar
        </MudButton>
    </DialogActions>
</MudDialog>