<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@TitleIcon" /> @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_processing)
        {
            <MudProgressCircular Class="m-sm-n1" Size="Size.Large" Indeterminate />
            <MudText Class="m-sm-2">Esperando respuesta de servidor...</MudText>
        }
        else
        {
    <MudContainer Style="max-height: 500px; overflow-y: scroll;">
        @if (States.Delete == (States)State)
        {
            <div class="form-group">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    ¿Está seguro de eliminar producto seleccionado?
                </MudText>
            </div>
        }
    <MudForm Model="Model" @ref="Form">
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Start">Tipo de producto</MudText>
                <MudTextField Placeholder="Tipo de producto" Required RequiredError="Este campo es obligatorio"
                              @bind-Value="Model.Type" ReadOnly="@Disabled" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Start">Código</MudText>
                <MudTextField Placeholder="Código" Required RequiredError="Este campo es obligatorio"
                              @bind-Value="Model.Code" ReadOnly="@Disabled" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Start">Modelo</MudText>
                <MudTextField Placeholder="Modelo" Required RequiredError="Este campo es obligatorio"
                              @bind-Value="Model.Model" ReadOnly="@Disabled" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Start">Descripción</MudText>
                <MudTextField Placeholder="Descripción" @bind-Value="Model.Description"
                              ReadOnly="@Disabled" Lines="3" Variant="Variant.Outlined"/>
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Start">Observaciones</MudText>
                <MudTextField Placeholder="Observaciones" @bind-Value="Model.Observations"
                              ReadOnly="@Disabled" Lines="3" Variant="Variant.Outlined" />
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Start">Precio sugerido</MudText>
                <MudNumericField T="float" Placeholder="Precio sugerido" Required RequiredError="Este campo es obligatorio"
                                 @bind-Value="Model.SugestedPrice" HideSpinButtons Min="0f" Variant="Variant.Outlined"
                                 AdornmentIcon="@Icons.Material.Filled.AttachMoney" Adornment="Adornment.Start"
                                 Format="N2" ReadOnly="@Disabled" />
            </MudItem>
            <MudItem xs="12">
                <MudText Typo="Typo.subtitle1" Align="Align.Start">Moneda de cotización</MudText>
                <MudSelect T="string" Placeholder="Moneda de cotización" Required RequiredError="Este campo es obligatorio"
                              @bind-Value="Model.Currency" ReadOnly="Disabled" Variant="Variant.Outlined" >
                              <MudSelectItem T="string" Value="@("MXN")" />
                              <MudSelectItem T="string" Value="@("USD")" />
                </MudSelect>
            </MudItem>
        </MudGrid>
    </MudForm>
    </MudContainer>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Class="mx-1"
                   OnClick="() => Dialog.Cancel()" Disabled="_processing">
            Cerrar
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="@ButtonColor" Class="mx-1"
                   OnClick="async () => await Submit()" Disabled="_processing">
            Confirmar
        </MudButton>
    </DialogActions>
</MudDialog>