@using Microsoft.AspNetCore.Identity
@inject RoleManager<IdentityRole> _roleManager
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@TitleIcon" /> @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_processing)
        {
            <MudProgressCircular Class="m-sm-n1" Size="Size.Large" Indeterminate="true" />
            <MudText Class="m-sm-2">Esperando respuesta de servidor...</MudText>
        }
        else
        {
            <MudContainer Style="max-height: 500px; overflow-y: scroll;">
                @if (States.Delete == (States)State)
                {
                    <div class="form-group">
                        <MudText Typo="Typo.subtitle1" Align="Align.Center">
                            ¿Está seguro de eliminar el rol seleccionado?
                        </MudText>
                    </div>
                }
                <MudForm Model="Model" @ref="Form">
                    <MudGrid>
                        <MudItem xs="12">
                            <MudText Typo="Typo.subtitle1">ID</MudText>
                            <MudTextField ReadOnly Variant="Variant.Outlined" Disabled="(int)States.Add == State"
                                          Value="@(Model.Id ?? "*************************")"/>
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1">Nombre de rol</MudText>
                            <MudTextField @bind-Value="Model.Name" Required ReadOnly="@((int)States.Add != State)"
                                          Variant="Variant.Outlined" RequiredError="Inserte nombre de rol" />
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1">Nombre normalizado de rol</MudText>
                            <MudTextField ReadOnly Variant="Variant.Outlined" Disabled="(int)States.Add == State"
                                          Value="@(Model.NormalizedName ?? "*************************")"/>
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.subtitle1">Sello de concurrencia</MudText>
                            <MudTextField  ReadOnly Variant="Variant.Outlined" Disabled="(int)States.Add == State"
                                          Value="@(Model.ConcurrencyStamp ?? "*************************")"/>
                        </MudItem>
                    </MudGrid>
                </MudForm>
            </MudContainer>
        }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Class="mx-1"
                   OnClick="() => Dialog.Cancel()" Disabled="_processing">
            Cerrar
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="@ButtonColor" Class="mx-1"
                   OnClick="async () => await Submit()" Disabled="_processing">
            Confirmar
        </MudButton>
    </DialogActions>
</MudDialog>
