<MudCard Elevation="0" Square="true" Style="background-color: var(--mud-palette-drawer-background);color: var(--mud-palette-drawer-text);">
    <MudCardHeader>
        <CardHeaderContent>
            <a href="/"><img src="../img/McLogo.PNG" alt="Logo MC-PACK" style="max-width:100%; width:100%;" /></a>
        </CardHeaderContent>
    </MudCardHeader>
</MudCard>
<MudNavMenu>
    <AuthorizeView Roles="Admin, Developer">
        <ChildContent Context="childContext">
            <MudNavGroup Icon="@Icons.Material.Filled.SupervisedUserCircle" Title="Seguridad y usuarios">
                <AuthorizeView Policy="@Constants.Permissions.Menu.Users">
                    <MudNavLink Href="Users" Icon="@Icons.Material.Filled.Person">Usuarios</MudNavLink>
                </AuthorizeView>
                <AuthorizeView Policy="@Constants.Permissions.Menu.Roles">
                    <MudNavLink Href="Roles" Icon="@Icons.Material.Filled.PanTool">Roles de usuario</MudNavLink>
                </AuthorizeView>
            </MudNavGroup>
        </ChildContent>
    </AuthorizeView>
    <AuthorizeView Policy="@Constants.Permissions.Menu.Clients">
        <MudNavLink Href="Clients" Icon="@Icons.Material.Filled.AttachMoney">Clientes</MudNavLink>
    </AuthorizeView>
    <AuthorizeView Policy="@Constants.Permissions.Menu.Projects">
        <MudNavLink Href="Projects" Icon="@Icons.Material.Filled.Message">Proyectos</MudNavLink>
    </AuthorizeView>
    <AuthorizeView Policy="@Constants.Permissions.Menu.Products">
        <MudNavLink Href="Products" Icon="@Icons.Material.Filled.Sell">Productos MC</MudNavLink>
    </AuthorizeView>
    <AuthorizeView Policy="@Constants.Permissions.Menu.Providers">
        <MudNavLink Href="Providers" Icon="@Icons.Material.Filled.Construction">Proveedores</MudNavLink>
    </AuthorizeView>
    <AuthorizeView Policy="@Constants.Permissions.Menu.Articles">
        <MudNavLink Href="Articles" Icon="@Icons.Material.Filled.Work">Materiales y Cotizaciones</MudNavLink>
    </AuthorizeView>
    <AuthorizeView Policy="@Constants.Permissions.Menu.Requisitions">
        <MudNavLink Href="Requisitions" Icon="@Icons.Material.Filled.Pages">Requisiciones</MudNavLink>
    </AuthorizeView>
    <AuthorizeView Policy="@Constants.Permissions.Menu.PurchaseOrders">
        <MudNavLink Href="PurchaseOrders" Icon="@Icons.Material.Filled.Money">Órdenes de compra</MudNavLink>
    </AuthorizeView>
</MudNavMenu>

@code { string AlertAssignmentIcon { get; set; } = "<path d=\"M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H9.18C9.6,1.84 10.7,1 12,1C13.3,1 14.4,1.84 14.82,3H19M12,3A1,1 0 0,0 11,4A1,1 0 0,0 12,5A1,1 0 0,0 13,4A1,1 0 0,0 12,3M7,7V5H5V19H19V5H17V7H7M11,9H13V13.5H11V9M11,15H13V17H11V15Z\" />"; }
