@page "/Clients"
@inject IClientsService _clientsService
@inject IContactsService _contactsService

@attribute [Authorize (Policy = @Constants.Permissions.Clients.View)]

<MudText Typo="Typo.h3" Align="Align.Center">GESTIÓN Y MANEJO DE CLIENTES</MudText>

<MudTable Dense="true" Hover="true" Striped="true" CustomHeader="true" FixedHeader="true" Height="400px"
          T="Clients" @ref="@ClientsTable" OnRowClick="@OnSelectedClientRow"
          ServerData="@(new Func<TableState, Task<TableData<Clients>>>(ClientsServerReload))">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Clientes registrados</MudText>
        <MudSpacer />
        @if (CanCreateClient)
        {
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mx-1"
                   OnClick="AddClient" >
                Añadir
            </MudButton>
        }
        <MudButton Variant="Variant.Filled" OnClick="DeleteClientFilters" Class="mx-1">
            Borrar criterios de búsqueda
        </MudButton>
        <MudButton Variant="Variant.Outlined" Class="ml-1"
                   OnClick="FilterClients">
            <MudIcon Icon="@Icons.Material.Filled.Search" /> Buscar
        </MudButton>
    </ToolBarContent>
    <HeaderContent>
        <MudTHeadRow>
            <MudTh><MudTableSortLabel SortLabel="MarketName" T="Clients">Nombre comercial</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="LegalName" T="Clients">Razón social</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="City" T="Clients">Ciudad</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Province" T="Clients">Provincia/Estado</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="PhoneNumber" T="Clients">Número de teléfono</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Website" T="Clients">Sitio web</MudTableSortLabel></MudTh>
        </MudTHeadRow>
        <MudTHeadRow>
            <MudTh>
                <MudTextField T="string" @bind-Value="MarketNameFilter" Placeholder="Buscar por nombre comercial" Clearable />
            </MudTh>
            <MudTh>
                <MudTextField T="string" @bind-Value="LegalNameFilter" Placeholder="Buscar por razón social" Clearable />
            </MudTh>
            <MudTh>
                <MudTextField T="string" @bind-Value="CityFilter" Placeholder="Buscar por ciudad" Clearable />
            </MudTh>
            <MudTh>
                <MudTextField T="string" @bind-Value="ProvinceFilter" Placeholder="Buscar por provincia/estado" Clearable />
            </MudTh>
            <MudTh>
                <MudTextField T="string" @bind-Value="PhoneNumberFilter" Placeholder="Buscar por número de teléfono" Clearable />
            </MudTh>
            <MudTh>
                <MudTextField T="string" @bind-Value="WebsiteFilter" Placeholder="Buscar por sitio web" Clearable />
            </MudTh>
        </MudTHeadRow>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Nombre comercial">@context.MarketName</MudTd>
        <MudTd DataLabel="Razón social">@context.LegalName</MudTd>
        <MudTd DataLabel="Ciudad">@context.City</MudTd>
        <MudTd DataLabel="Provincia/Estado">@context.Province</MudTd>
        <MudTd DataLabel="Teléfono">@context.PhoneNumber</MudTd>
        <MudTd DataLabel="Sitio web">@context.Website</MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>Sin clientes encontrados</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Cargando clientes...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>

@if (VisibleClientInformation)
{
    <MudPaper Class="my-3" Elevation="0">
        <MudText Typo="@Typo.h6" Align="Align.Center">PRESENTANDO INFORMACIÓN PARA CLIENTE: @SelectedClient.MarketName</MudText>
        <MudTabs @ref="ClientInformationTabs" Elevation="2" Rounded ApplyEffectsToContainer Color="Color.Primary">
            <Header>
                <MudTooltip Text="Cerrar cliente">
                    <MudIconButton Icon="@Icons.Material.Filled.Close" 
                                   OnClick="(_) => { SelectedClient = new(); VisibleClientInformation = false; }" />
                </MudTooltip>
                @if (CanEditClient)
                {
                    <MudTooltip Text="Editar información de cliente">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="EditClient" />
                    </MudTooltip>
                }
                @if (CanDeleteClient)
                {
                    <MudTooltip Text="Eliminar cliente">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="DeleteClient" />
                    </MudTooltip>
                }
            </Header>
            <TabPanelHeader>
                @if (context.Text.StartsWith("Contacto:"))
                {
                    <MudTooltip Text="Cerrar contacto">
                        <MudIconButton Class="ml-2 pa-1" Icon="@Icons.Material.Filled.Close"
                                       Color="Color.Error" OnClick="(_) => RemoveTab(context)" />
                    </MudTooltip>
                }
            </TabPanelHeader>
            <ChildContent>
                <MudTabPanel Text="Información General">
                    <MudGrid Class="m-3" Style="width:inherit; height:500px; overflow-y:scroll;">
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle2" Align="Align.Start">Nombre comercial</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.MarketName" ReadOnly />
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle2" Align="Align.Start">Razón social</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.LegalName" ReadOnly />
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.subtitle2" Align="Align.Start">Sitio Web</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.Website" ReadOnly />
                        </MudItem>
                        <MudItem xs="12">
                            <MudText Typo="Typo.subtitle2" Align="Align.Start">Condición de pago</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.PaymentCondition" ReadOnly />
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                <MudTabPanel Text="Localización">
                    <MudGrid Class="m-3" Style="width:inherit; height:500px; overflow-y:scroll;">
                        <MudItem xs="12">
                            <MudText Typo="Typo.subtitle1" Align="Align.Start">Número de teléfono</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.PhoneNumber" ReadOnly />
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1" Align="Align.Start">Domicilio fiscal</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.FiscalAddress" ReadOnly />
                        </MudItem>
                        <MudItem xs="6">
                            <MudText Typo="Typo.subtitle1" Align="Align.Start">Código postal</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.PostalCode" ReadOnly />
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Start">Ciudad</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.City" ReadOnly />
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Start">Provincia/Estado</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.Province" ReadOnly />
                        </MudItem>
                        <MudItem xs="4">
                            <MudText Typo="Typo.subtitle1" Align="Align.Start">País</MudText>
                            <MudTextField Variant="Variant.Outlined" Value="@SelectedClient.Country" ReadOnly />
                        </MudItem>
                    </MudGrid>
                </MudTabPanel>
                @if (CanViewContact)
                {
                    <MudTabPanel Text="Contactos asociados">
                        <MudPaper Elevation="0" Class="m-3" Style="height:500px; overflow-y:scroll;">
                            <MudTable Dense Hover T="Contacts" @ref="@ContactsTable" CustomHeader
                                      FixedHeader Height="400px"
                                      ServerData="@(new Func<TableState, Task<TableData<Contacts>>>(ContactsServerReload))"
                                      OnRowClick="OnSelectedContactRow" Striped>
                                <ToolBarContent>
                                    <MudText Typo="Typo.h6">Contactos registrados</MudText>
                                    <MudSpacer />
                                    @if (CanCreateContact)
                                    {
                                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                                               OnClick="CreateContact" >
                                            Añadir contacto
                                        </MudButton>
                                    }
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh><MudTableSortLabel SortLabel="FullName" T="Contacts">Nombre</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortLabel="Position" T="Contacts">Puesto</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortLabel="EmailAddress" T="Contacts">Correo electrónico</MudTableSortLabel></MudTh>
                                    <MudTh><MudTableSortLabel SortLabel="MobilePhone" T="Contacts">Teléfono celular</MudTableSortLabel></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Nombre">@context.FullName</MudTd>
                                    <MudTd DataLabel="Puesto">@(context.Position ?? "N/A")</MudTd>
                                    <MudTd DataLabel="Correo electrónico">@(context.EmailAddress ?? "N/A")</MudTd>
                                    <MudTd DataLabel="Teléfono celular">@(context.MobilePhone ?? "N/A")</MudTd>
                                </RowTemplate>
                                <NoRecordsContent>
                                    <MudText>No se encontraron contactos asociados al cliente.</MudText>
                                </NoRecordsContent>
                                <LoadingContent>
                                    <MudText>Cargando contactos...</MudText>
                                </LoadingContent>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>
                        </MudPaper>
                    </MudTabPanel>
                    @foreach (var contact in SelectedContacts)
                    {
                        <MudTabPanel Text="@($"Contacto: {contact.FullName}")" Tag="@contact.Id" ID="@contact.Id">
                            <MudCard Class="m-3" Elevation="0">
                                <MudCardHeader Style="height:100px;">
                                    <CardHeaderContent>
                                        <MudText Typo="Typo.subtitle1">
                                            Nombre de contacto: @contact.FullName
                                        </MudText>
                                    </CardHeaderContent>
                                </MudCardHeader>
                                <MudCardContent Style="height:300px; overflow-y:scroll;">
                                    <div class="form-group">
                                        <MudText Typo="Typo.subtitle1" Align="Align.Start">Puesto</MudText>
                                        <MudTextField Variant="Variant.Outlined" Value="@contact.Position" ReadOnly />
                                    </div>
                                    <div class="form-group">
                                        <MudText Typo="Typo.subtitle1" Align="Align.Start">Correo electrónico</MudText>
                                        <MudTextField Variant="Variant.Outlined" Value="@contact.EmailAddress" ReadOnly />
                                    </div>
                                    <div class="form-group">
                                        <MudText Typo="Typo.subtitle1" Align="Align.Start">Número de teléfono</MudText>
                                        <MudTextField Variant="Variant.Outlined" Value="@contact.MobilePhone" ReadOnly />
                                    </div>
                                </MudCardContent>
                                <MudCardActions Style="height:100px;">
                                    @if (CanEditContact)
                                    {
                                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mx-1"
                                                   OnClick="async (_) => await EditContact(contact)" >
                                            Editar
                                        </MudButton>
                                    }
                                    @if (CanDeleteContact)
                                    {
                                        <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mx-1"
                                                   OnClick="(_) => DeleteContact(contact)" >
                                            Eliminar
                                        </MudButton>
                                    }
                                </MudCardActions>
                            </MudCard>
                        </MudTabPanel>
                    }
                }
            </ChildContent>
        </MudTabs>
    </MudPaper>
}