@inject IProvidersService _providersService
@inject IContactsService _contactsService
<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@TitleIcon" /> @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        @if (_processing)
        {
            <MudProgressCircular Class="m-sm-n1" Size="Size.Large" Indeterminate />
            <MudText Class="m-sm-2">Esperando respuesta de servidor...</MudText>
        }
        else
        {
    <MudContainer Style="max-height: 500px; overflow-y: scroll;">
        @if (States.Delete == State)
        {
            <div class="form-group">
                <MudText Typo="Typo.subtitle1" Align="Align.Center">
                    ¿Está seguro de eliminar proveedor seleccionado?
                </MudText>
            </div>
        }
        <MudForm Model="Model" @ref="Form">
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Nombre comercial" Required
                                  RequiredError="Insertar nombre comercial de proveedor"
                                  @bind-Value="Model.MarketName"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.MarketName)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.MarketName))" />
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Razón social" Required
                                  RequiredError="Insertar razón social de proveedor"
                                  @bind-Value="Model.LegalName"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.LegalName)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.LegalName))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudText Typo="Typo.subtitle1" Align="Align.Start">RFC</MudText>
                    <MudTextField T="string" Placeholder="RCF" @bind-Value="Model.RFC" ReadOnly="@Disabled" Variant="Variant.Outlined"
                    Immediate Counter="Model.GetMaxLengthForProperty(nameof(Model.RFC))"
                    MaxLength="@(Model.GetMaxLengthForProperty(nameof(Model.RFC)) ?? 5000)" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Domicilio fiscal" Required
                                  RequiredError="Insertar domicilio fiscal de proveedor"
                                  @bind-Value="Model.FiscalAddress"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.FiscalAddress)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.FiscalAddress))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Código postal" Required
                                  RequiredError="Insertar código postal de proveedor"
                                  @bind-Value="Model.PostalCode"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.PostalCode)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.PostalCode))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Ciudad" Required
                                  RequiredError="Insertar ciudad de domicilio de proveedor"
                                  Validation="@(new Func<string, IEnumerable<string>>(ValidateName))"
                                  @bind-Value="Model.City"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.City)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.City))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Provincia/Estado" Required
                                  RequiredError="Insertar provincia/estado de domicilio de proveedor"
                                  Validation="@(new Func<string, IEnumerable<string>>(ValidateName))"
                                  @bind-Value="Model.Province"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.Province)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.Province))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="País" Required
                                  RequiredError="Insertar país de domicilio de proveedor"
                                  Validation="@(new Func<string, IEnumerable<string>>(ValidateName))"
                                  @bind-Value="Model.Country"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.Country)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.Country))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Sitio web" 
                                  @bind-Value="Model.Website" Validation="new Func<string, IEnumerable<string>>(Validations.ValidateUrl)"
                                  ReadOnly="@Disabled" Immediate InputType="InputType.Url"
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.Website)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.Website))"/>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField T="string" Label="Número telefónico de cliente" Required
                                  RequiredError="Insertar número telefónico de cliente"
                                  Validation="@(new Func<string, IEnumerable<string>>(Validations.ValidatePhoneNumber))"
                                  InputType="InputType.Telephone" @bind-Value="Model.PhoneNumber"ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.PhoneNumber)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.PhoneNumber))"/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Tipo de pago" Required RequiredError="Insertar tipo de pago"
                                  @bind-Value="Model.TypeOfPayment" ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.TypeOfPayment)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.TypeOfPayment))"/>
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Condición de pago" Required RequiredError="Insertar condición de pago" 
                                  @bind-Value="Model.PaymentCondition" ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.PaymentCondition)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.PaymentCondition))"/>
                </MudItem>
                <MudItem xs="3">
                    <MudTextField T="string" Label="Límite de crédito" @bind-Value="Model.CreditLimit"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.CreditLimit)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.CreditLimit))"/>
                </MudItem>
                <MudItem xs="3">
                    <MudCheckBox @bind-Checked="Model.HasTaxes" Label="Aplica I.V.A" 
                                 ReadOnly="@Disabled" />
                </MudItem>
                <MudItem xs="3">
                    <MudNumericField T="float" Label="Descuento" Required
                                     RequiredError="Insertar descuento" @bind-Value="Model.Discount"
                                     Min="0f" Max="100f" Step="1" Format="N2"
                                     AdornmentText="%" Adornment="Adornment.End"
                                     ReadOnly="@Disabled" Culture="@CultureInfo.GetCultureInfo("en-US")" />
                </MudItem>
                <MudItem xs="3">
                    <MudCheckBox Label="Entrega a domicilio"
                                 @bind-Checked="Model.HomeDelivery"
                                 ReadOnly="@Disabled" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField T="string" Label="Observaciones"
                                  @bind-Value="Model.Observations"
                                  ReadOnly="@Disabled" Immediate
                            MaxLength="@(Model.GetMaxLengthForProperty(nameof(Providers.Observations)) ?? 5000)"
                            Counter="Model.GetMaxLengthForProperty(nameof(Providers.Observations))"/>
                </MudItem>
            </MudGrid>
        </MudForm>
        @if (States.Delete == State)
        {
            <div class="form-group">
                <MudTable ServerData="(state) => ProviderContactsLoad(state, Model.Id)" Dense Striped>
                    <ToolBarContent>
                        <MudText Typo="Typo.subtitle1">
                            Contactos asociados
                        </MudText>
                    </ToolBarContent>
                    <HeaderContent>
                        <MudTh>Nombre</MudTh>
                        <MudTh>Correo</MudTh>
                        <MudTh>Puesto</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Nombre">@context.FullName</MudTd>
                        <MudTd DataLabel="Correo">@context.EmailAddress</MudTd>
                        <MudTd DataLabel="Puesto">@context.Position</MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>
                    <NoRecordsContent>
                        No se encontraron contactos asociados.
                    </NoRecordsContent>
                </MudTable>
            </div>
        }
    </MudContainer>
    }
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Text" Class="mx-1"
                   OnClick="() => Dialog.Cancel()" Disabled="_processing">
            Cerrar
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="@ButtonColor" Class="mx-1"
                   OnClick="async () => await Submit()" Disabled="_processing">
            Confirmar
        </MudButton>
    </DialogActions>
</MudDialog>