@page "/UserManagement/RegisterUser"
@using McPackManager.Shared.Entities
@using System.ComponentModel.DataAnnotations

<MudText Typo="Typo.h3" Align="Align.Left">REGISTRO DE NUEVO USUARIO</MudText>

<MudButton Class="my-3" OnClick="@(() => _navigationManager.NavigateTo("/UserManagement"))">
    REGRESAR A TABLA DE USUARIOS
</MudButton>

<div style="max-width:70%;">
    <MudCard>
        <MudCardContent>
            <MudForm @ref="@NewUserForm" @bind-IsValid="@FormSuccess" @bind-Errors="@FormErrors">
                <MudTextField T="string" @bind-Value="@RegistrationModel.Email" Label="CORREO ELECTRÓNICO DE USUARIO" Required="true"
                              RequiredError="UN CORREO ELECTRÓNICO ES NECESARIO PARA EL REGISTRO."
                              Validation="@(new EmailAddressAttribute() { ErrorMessage = "EL CORREO ELECTRÓNICO NO ES VÁLIDO." })" />
                <MudTextField T="string" @bind-Value="@RegistrationModel.UserName" Label="NOMBRE DE USUARIO" Required="false" />
                <MudTextField T="string" @bind-Value="@RegistrationModel.Password" HelperText="INTRUDUCE UNA CONTRASEÑA FUERTE."
                              InputType="InputType.Password" Required="true" RequiredError="LA CONTRASEÑA ES OBLIGATORIA."
                              Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" />
                <MudTextField T="string" @bind-Value="@RegistrationModel.ConfirmPassword" HelperText="REPITA LA CONTRASEÑA." InputType="InputType.Password"
                              Validation="@(new Func<string, string>(PasswordMatch))" />
                <MudTextField T="string" @bind-Value="@RegistrationModel.FirstName" Label="PRIMER NOMBRE" Required="true"
                              RequiredError="INSERTE PRIMER NOMBRE DE USUARIO." />
                <MudTextField T="string" @bind-Value="@RegistrationModel.MiddleName" Label="SEGUNDO NOMBRE" Required="false" />
                <MudTextField T="string" @bind-Value="@RegistrationModel.FatherSurname" Label="APELLIDO PATERNO" Required="true"
                              RequiredError="INSERTE APELLIDO PATERNO DE USUARIO." />
                <MudTextField T="string" @bind-Value="@RegistrationModel.MotherSurname" Label="APELLIDO MATERNO" Required="true"
                              RequiredError="INSERTE APELLIDO MATERNO DE USUARIO. SI NO CUENTA CON UNO, INSERTE '*'." />
                <MudDatePicker @bind-Date="@RegistrationModel.BirthDate" Label="FECHA DE NACIMIENTO DE USUARIO" />
                <MudTextField T="string" @bind-Value="@RegistrationModel.Gender" Label="GÉNERO DE USUARIO" />
                <MudCheckBox T="bool" @bind-Checked="@RegistrationModel.EmailConfirmed" Label="CONFIRMAR LA CUENTA DE NUEVO USUARIO." Class="ml-n2" />
            </MudForm>
        </MudCardContent>
        <MudCardContent>
            <MudCardActions>
                <MudButtonGroup>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => NewUserForm.Validate())">
                        VALIDAR REGISTRO
                    </MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="@(() => NewUserForm.Reset())">
                        BORRAR REGISTRO
                    </MudButton>
                    <MudButton Class="ml-auto" Variant="Variant.Filled" Color="Color.Success" Disabled="!FormSuccess" OnClick="@RegisterUser">
                        REGISTRAR USUARIO
                    </MudButton>
                </MudButtonGroup>
            </MudCardActions>
        </MudCardContent>
    </MudCard>
    <MudExpansionPanels>
        <MudExpansionPanel Text="@($"MOSTRAR ERRORES EN LA FORMA. ({FormErrors.Length})")">
            @foreach (var error in FormErrors)
            {
                <MudText Color="Color.Error">@error</MudText>
            }
        </MudExpansionPanel>
    </MudExpansionPanels>
</div>